<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET -->

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <!-- LOCATION -->

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application

        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"

        android:label="Hasiru-Usiru"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:supportsRtl="true"

        android:theme="@style/Theme.HasiruUsiru">

        <!-- GOOGLE MAPS API -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3G7K8XCsIDr4Y8chlMgkrNsdhxkUpLQM"/>

        <!-- MAPS ACTIVITY -->

        <activity
            android:name=".MapsActivity"/>

        <!-- MAIN ACTIVITY -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>